<nav class="pages-nav">
    <div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
    <div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#page-contact">Contact</a></div>
    <div class="pages-nav__item pages-nav__item--social">
        <a class="link link--social link--faded" href="#"><i class="fa fa-twitter"></i><span class="text-hidden">Twitter</span></a>
        <a class="link link--social link--faded" href="#"><i class="fa fa-linkedin"></i><span class="text-hidden">LinkedIn</span></a>
        <a class="link link--social link--faded" href="#"><i class="fa fa-facebook"></i><span class="text-hidden">Facebook</span></a>
        <a class="link link--social link--faded" href="#"><i class="fa fa-youtube-play"></i><span class="text-hidden">YouTube</span></a>
    </div>
</nav>

<header class="bp-header cf codrops-header">
    <div id="contButton" style="padding: 15px;background-color: black;z-index: 99999999">
        <button class="menu-button"><span></span></button>
    </div>
    <div class="search-wrap">
        <button id="btn-search" class="btn btn--search"><svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg></button>
    </div>
</header>
